<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>voter</servlet-name>
        <servlet-class>voter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>candidate</servlet-name>
        <servlet-class>candidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>voterupdate</servlet-name>
        <servlet-class>voterupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatecandidate</servlet-name>
        <servlet-class>updatecandidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pformsubmit</servlet-name>
        <servlet-class>pformsubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>takepassword</servlet-name>
        <servlet-class>takepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>takepasswordofc</servlet-name>
        <servlet-class>takepasswordofc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>votingdetailindb</servlet-name>
        <servlet-class>votingdetailindb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resultupdate</servlet-name>
        <servlet-class>resultupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>question</servlet-name>
        <servlet-class>question</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vote1</servlet-name>
        <servlet-class>vote1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vote2</servlet-name>
        <servlet-class>vote2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vote3</servlet-name>
        <servlet-class>vote3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vote4</servlet-name>
        <servlet-class>vote4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>answer</servlet-name>
        <servlet-class>answer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>answergive</servlet-name>
        <servlet-class>answergive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>votervalidate</servlet-name>
        <servlet-class>votervalidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminvalidate</servlet-name>
        <servlet-class>adminvalidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>candidatevalidate</servlet-name>
        <servlet-class>candidatevalidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editpromises</servlet-name>
        <servlet-class>editpromises</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addpromises</servlet-name>
        <servlet-class>addpromises</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>result</servlet-name>
        <servlet-class>voteresult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>voteresult</servlet-name>
        <servlet-class>voteresult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>candidateinformation</servlet-name>
        <servlet-class>candidateinformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testvoterlogin</servlet-name>
        <servlet-class>testvoterlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>voterlogintestresult</servlet-name>
        <servlet-class>voterlogintestresult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vfinaltestresult</servlet-name>
        <servlet-class>vfinaltestresult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testvoterupdate</servlet-name>
        <servlet-class>testvoterupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>voterupdatetestresult</servlet-name>
        <servlet-class>voterupdatetestresult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uvfinaltestresult</servlet-name>
        <servlet-class>uvfinaltestresult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testcandidatelogin</servlet-name>
        <servlet-class>testcandidatelogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>candidatelogintestresult</servlet-name>
        <servlet-class>candidatelogintestresult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testcandidateupdate</servlet-name>
        <servlet-class>testcandidateupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cupdatetestresult</servlet-name>
        <servlet-class>cupdatetestresult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ucfinaltestresult</servlet-name>
        <servlet-class>ucfinaltestresult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vtesttologinelectionday</servlet-name>
        <servlet-class>vtesttologinelectionday</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vltelectionresult</servlet-name>
        <servlet-class>vltelectionresult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vltefinaltestresult</servlet-name>
        <servlet-class>vltefinaltestresult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>votecastverified</servlet-name>
        <servlet-class>votecastverified</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cfinaltestresult</servlet-name>
        <servlet-class>cfinaltestresult</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>voter</servlet-name>
        <url-pattern>/voter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>candidate</servlet-name>
        <url-pattern>/candidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>voterupdate</servlet-name>
        <url-pattern>/voterupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatecandidate</servlet-name>
        <url-pattern>/updatecandidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pformsubmit</servlet-name>
        <url-pattern>/pformsubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>takepassword</servlet-name>
        <url-pattern>/takepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>takepasswordofc</servlet-name>
        <url-pattern>/takepasswordofc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>votingdetailindb</servlet-name>
        <url-pattern>/votingdetailindb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resultupdate</servlet-name>
        <url-pattern>/resultupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>question</servlet-name>
        <url-pattern>/question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vote1</servlet-name>
        <url-pattern>/vote1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vote2</servlet-name>
        <url-pattern>/vote2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vote3</servlet-name>
        <url-pattern>/vote3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vote4</servlet-name>
        <url-pattern>/vote4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>answer</servlet-name>
        <url-pattern>/answer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>answergive</servlet-name>
        <url-pattern>/answergive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>votervalidate</servlet-name>
        <url-pattern>/votervalidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminvalidate</servlet-name>
        <url-pattern>/adminvalidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>candidatevalidate</servlet-name>
        <url-pattern>/candidatevalidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editpromises</servlet-name>
        <url-pattern>/editpromises</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addpromises</servlet-name>
        <url-pattern>/addpromises</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>result</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>voteresult</servlet-name>
        <url-pattern>/voteresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>candidateinformation</servlet-name>
        <url-pattern>/candidateinformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testvoterlogin</servlet-name>
        <url-pattern>/testvoterlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>voterlogintestresult</servlet-name>
        <url-pattern>/voterlogintestresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vfinaltestresult</servlet-name>
        <url-pattern>/vfinaltestresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testvoterupdate</servlet-name>
        <url-pattern>/testvoterupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>voterupdatetestresult</servlet-name>
        <url-pattern>/voterupdatetestresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uvfinaltestresult</servlet-name>
        <url-pattern>/uvfinaltestresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testcandidatelogin</servlet-name>
        <url-pattern>/testcandidatelogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>candidatelogintestresult</servlet-name>
        <url-pattern>/candidatelogintestresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testcandidateupdate</servlet-name>
        <url-pattern>/testcandidateupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cupdatetestresult</servlet-name>
        <url-pattern>/cupdatetestresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ucfinaltestresult</servlet-name>
        <url-pattern>/ucfinaltestresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vtesttologinelectionday</servlet-name>
        <url-pattern>/vtesttologinelectionday</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vltelectionresult</servlet-name>
        <url-pattern>/vltelectionresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vltefinaltestresult</servlet-name>
        <url-pattern>/vltefinaltestresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>votecastverified</servlet-name>
        <url-pattern>/votecastverified</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cfinaltestresult</servlet-name>
        <url-pattern>/cfinaltestresult</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HOMEPAGE.jsp</welcome-file>
    </welcome-file-list>
</web-app>
